// This is the Application main sass file, imports here
html, body {
	height: 100%;
}

body {
	padding: 20px;
}

$cellSize: 10px;

// Dirty styling
.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-grid {
	display: flex;
	flex-direction: column;
	.game-grid__row {
		display: flex;
		flex-grow: 1;
	}
}

.cell {
	border: 1px solid #eee;
	//padding: $cellSize / 10;
	height: $cellSize;
	width: $cellSize;
	.cell__dot {
		//border-radius: 50%;
		background-color: darkslategrey;
		height: 100%;
		width: 100%;
	}
	&.cell--alive {
		border: 1px solid darkslategray;
	}
	&.cell--dead {
		.cell__dot {
			visibility: hidden;
		}
	}
}

.game-controls {
	margin-top: 40px;
	display: flex;
	width: 100%;
	button {
		font-size: 20px;
		border: 1px solid darkslategrey;
		background: none;
		padding: 16px 40px;
		flex-grow: 1;
	}

}
